<div class="upload">
  <%= form_for @drawing, :html => {:multipart => true} do |f| %>
    <% if @drawing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drawing.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
      <% @drawing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :about %>
    <%= f.text_area :about, :rows => 8 %><br>

    <% if @drawing.drawing_url.nil? %>
      <%= f.file_field :drawing %><br />
    <% else %>
      <%= image_tag @drawing.drawing_url.to_s, size: "200x200" %><br>
      <%= f.file_field :drawing %><br><br>
    <% end %>


    <%= f.submit "Upload Drawing", :class => 'button' %>
  <% end %>
</div>