<div id="layout">
  <!-- sidebar menu -->
  <% content_for :full_drawing do %>
    <a href="/" class="active">Full</a>
  <% end %>
  <%= render :partial => 'layouts/sidebar' %>

  <div class="content">
    <div class="details">
      <div class="vertical-center">
        <div class="details-text">
          <%= @drawing.title %> <span>amdixon</span>
        </div>
        <div class="details-stats">
          <%= image_tag 'views.svg' %>
          <%= @drawing.impressionist_count(:filter=>:ip_address) %>
        </div>
      </div>
      <div class="scroll-zoom">
        Scroll to ZOOM
      </div>
    </div>

    <div class="drawing">
      <%= image_tag @drawing.drawing_url.to_s %>
    </div>

    <!-- bottom link -->
    <%= link_to @next do %>
      <div class="next">
        <div class="vertical-center">
          <div class="next-content">
            <div class="next-link">
              <%= image_tag 'down.svg' %> Next Drawing
          </div>
          <div class="next-name">
            <%= @next.title %>
            <% if @next.user %>
              <span>
                <%= @next.user.username %>
              </span>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
  // wait for images to load before calling js
  $('.drawing').imagesLoaded( function() {
    $('.drawing img').wheelzoom();
  });
</script>