<% if @first_time %>
  <div class="scroll-to-zoom">
    <div class="container fadeIn">
      <p>Scroll in to zoom</p>
      <a href="#" id="close">close</a>
    </div>
  </div>
<% end %>


<div id="layout">
  <!-- header -->
  <%= render :partial => 'layouts/header' %>

  <div class="content">
    <div class="details">
      <div class="vertical-center">
        <div class="details-stats">
          <%= image_tag 'views.svg' %>
          <%= @drawing.impressionist_count(:filter=>:ip_address) %>
        </div>
        <div class="details-text">
          <%= @drawing.title %> <span><% @drawing.user.username %></span>
        </div>
      </div>
    </div>

    <div class="drawing">
      <%= image_tag @drawing.drawing_url.to_s %>
    </div>

    <div class="details">
    </div>

    <!-- bottom link -->
    <%= link_to @prev do %>
      <div class="next">
        NEXT
      </div>
    <% end %>

  </div>
</div>

<script>
  // wait for images to load before calling js
  $('.drawing').imagesLoaded( function() {
    $('.drawing img').wheelzoom({
      zoom: 0.075
    });
  });


  // $('#close').click( function(e) {
  //   e.preventDefault();
  //   $('.scroll-to-zoom').slideUp();
  // });
</script>