<% drawings.each do |drawing| %>
  <div class="gallery new">
    <%= link_to(drawing) do %>
      <%= image_tag drawing.drawing_url.to_s %>
      <h5><%= drawing.title %>
        <% if drawing.user %>
          <span><%= drawing.user.username %></span>
        <% end %>
      </h5>
    <% end %>
    <div class="gallery-hover">
      <%= truncate(drawing.about, length: 240) %>
      <div class="gallery-hover-stats">
        <span><%= image_tag 'views.svg' %></span>
        <%= drawing.impressionist_count(:filter=>:ip_address) %>
      </div>
    </div>
  </div>
<% end %>