<div id="layout">
  <div class="sidebar">
    <a href="/" class="logo">amonograph</a>
    <div class="search">
      <form>
        &#8594;
        <input type="text"></input>
      </form>
    </div>
    <div class="options">
      <h3>View</h3>
      <ul>
        <li>Full</li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="drawing">
      <%= form_for @drawing, :html => {:multipart => true} do |f| %>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
        <%= f.file_field :drawing %><br><br>
        <%= f.submit %>
      <% end %>
      <% @gallery.each do |img| %>
        <div class="gallery">
          <%= image_tag img.drawing_url.to_s %>
        </div>
        <%= link_to(img) do %>
          <h5><%= img.title %></h5>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


