<div id="layout">
  <div class="sidebar">
    <div class="sidebar-main">
      <a href="/" class="logo">amonograph</a>
      <div class="search">
        <div class="search-icon">
          <%= image_tag "search.svg" %>
        </div>
        <form>
          <input type="text"></input>
        </form>
      </div>
      <div class="options">
        <h3>View</h3>
        <ul>
          <li>Full</li>
          <li>Gallery</li>
        </ul>
      </div>
      <div class="options">
        <h3>SORT</h3>
        <ul class="sort">
          <li>
            <a href="#" class="active">
              <%= image_tag "popular.svg" %> Popular
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag "favorites.svg" %> Favorites
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag "new.svg" %> Newest
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag "curated.svg" %> Curated
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar-close">
    </div>
  </div>
  <div class="content">
    <div class="index">
      <div id="container">
        <%= render :partial => 'drawings', :locals => { :drawings => @drawings } %>
      </div>
    </div>
    <%= link_to('Load More Items', root_path(:page => @drawings.next_page), :remote => true, :class => 'load-more-items') %>
  </div>
</div>

<script>
  var container = document.querySelector('#container');
  var msnry;

  new imagesLoaded( container, function(){
    msnry = new Masonry( container, {
      // options
      itemSelector: '.gallery'
    });
  });
</script>


