<div id="layout">
  <div class="sidebar">
    <a href="/" class="logo">amonograph</a>
    <div class="search">
      <form>
        &#8594;
        <input type="text"></input>
      </form>
    </div>
    <div class="options">
      <h3>View</h3>
      <ul>
        <li>Full</li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="index">
      <%= form_for @drawing, :html => {:multipart => true} do |f| %>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
        <%= f.file_field :drawing %><br><br>
        <%= f.submit %>
      <% end %>
      <div id="container">
        <%= render :partial => 'drawings', :locals => { :drawings => @drawings } %>
      </div>
    </div>
    <%= link_to('Load More Items', root_path(:page => @drawings.next_page), :class => 'load-more-items') %>
  </div>
</div>

<script>
  var container = document.querySelector('#container');

  new imagesLoaded( container, function(){
    var msnry = new Masonry( container, {
      // options
      itemSelector: '.gallery'
    });
  });
</script>


