<div class="sidebar">
  <div class="sidebar-main">

    <a href="/" class="logo">amonograph</a>

    <div class="search">
      <div class="search-icon">
        <%= image_tag "search.svg" %>
      </div>
      <form>
        <input type="text"></input>
      </form>
    </div>
    <div class="user">
      <% if current_user %>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <%= current_user.username %>
        <% end %>
      <% else %>
        <%= link_to "Sign in", signup_path %>
      <% end %>
    </div>

    <div class="options">
      <h3>View</h3>
      <ul>
        <li>
          <a href="#" class="active">Gallery</a>
        </li>
        <li>
          <% if content_for?(:full_drawing) %>
            <%= yield(:full_drawing) %>
          <% else %>
            <%= link_to "Full", @drawings.first %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="options">
      <h3>SORT</h3>
      <ul class="sort">
        <li>
          <a href="#" class="active">
            <%= image_tag "popular.svg" %> Popular
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "favorites.svg" %> Favorites
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "new.svg" %> Newest
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag "curated.svg" %> Curated
          </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="sidebar-close">
  </div>
</div>